<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>List of users</title>
        <link th:href="@{/css/main_style.css}" rel="stylesheet" />
    </head>

    <body>
        <h1>List of users</h1>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nickname</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <div th:if="${beingUpdateUser.id == null}">
                        <tr>
                            <form method="post" th:Object="${beingUpdateUser}" th:action="@{/users/add}">
                                <td>New</td>
                                <td><input th:field="*{nickname}" type="text"/></td>
                                <td><input th:field="*{firstname}" type="text"/></td>
                                <td><input th:field="*{lastname}" type="text"/></td>
                                <td colspan="2"><button class="add_symbol" type="submit"></button></td>
                            </form>
                        </tr>
                    </div>
                    <tr th:each="userData : ${userDataList}">
                        <div th:if="${(beingUpdateUser.id == null) || (userData.id != beingUpdateUser.id)}">
                            <td th:utext="${userData.id}">Id</td>
                            <td th:utext="${userData.nickname}">Nickname</td>
                            <td th:utext="${userData.firstname}">Firstname</td>
                            <td th:utext="${userData.lastname}">Lastname</td>
                            <td>
                                <form th:action="@{/users/update}" th:object="${userData}" th:method="get">
                                    <input type="hidden" name="update_user_id" th:value="${userData.id}"/>
                                    <button class="update_symbol" type="submit"></button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/users/delete}" th:method="post">
                                    <input type="hidden" name="id" th:value="${userData.id}"/>
                                    <button class="remove_symbol"></button>
                                </form>
                            </td>
                        </div>
                        <div th:if="${(beingUpdateUser.id != null) && (userData.id == beingUpdateUser.id)}">
                            <form method="post" th:Object="${beingUpdateUser}" th:action="@{/users/update(id=${beingUpdateUser.id})}" >
                                <td th:utext="${beingUpdateUser.id}">Id</td>
                                <td><input th:field="*{nickname}" type="text"/></td>
                                <td><input th:field="*{firstname}" type="text"/></td>
                                <td><input th:field="*{lastname}" type="text"/></td>
                                <td><button class="add_symbol" type="submit"></button></td>
                            </form>
                                <td>
                                    <form th:action="@{/users/delete}" th:method="post">
                                        <input type="hidden" name="id" th:value="${userData.id}"/>
                                        <button class="remove_symbol"></button>
                                    </form>
                                </td>
                        </div>
                    </tr>
                </tbody>
            </table>
    </body>
</html>